@import "override.scss";
@import "_variables.scss";
@import "_bootswatch.scss";

@import "node_modules/bootstrap/scss/bootstrap";

body {
  // background-image: url("https://wanderingbongv1.s3.ap-south-1.amazonaws.com/wb-bg.jpg");
  // background-color: $dark;
}


.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}
body {
  font-size: 1rem;
}